{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <h1>Восстановите ппароль</h1>
        {% if validlink %}
            <p>Пожалуйста, дважды введите свой новый пароль:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
            </form>
        {% else %}
            <p>Ссылка для восстановления пароля не работает.Возможно потому, что вы уже ее использовали.
                Пожалуйста, отправьте запрос на восстановление пароля снова</p>
        {% endif %}
{% endblock %}